.ActivityBar {
    width: 3rem;
    text-align: center;
    background-color: rgb(24, 24, 24);

    &>* {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        color: rgb(160, 160, 160);

        cursor: pointer;

        &:hover {
            color: white
        }
    }

    &__setting {
        position: absolute;
        bottom: 0;
    }

    &__icon {
        fill: rgb(160, 160, 160);

        &:hover {
            fill: white
        }
    }

    &__tooltip {
        position: relative;
        z-index: 9000;

        & .tooltip.show {
            opacity: 1;
        }

        & .tooltip-inner {
            background-color: white;
            color: black;
            border: 1px solid white;
        }

        & .tooltip-arrow::before {
            border-right-color: white !important;
        }
    }
}